{% if person.jacow_affiliations -%}
    {% for affiliation in person.jacow_affiliations -%}
        {%- set uuid = uuid() -%}
        <span id="affiliation-popup-container-{{ uuid }}">{#--#}
            <span id="affiliation-popup-{{ uuid }}"></span>{#--#}
            <span>{{ affiliation.details.name }}</span>{#--#}
        </span>{#--#}
        <script>
            setupAffiliationPopup(
                {{ uuid|tojson }},
                {{ affiliation.details|tojson }}
            );
        </script>
        {%- if not loop.last -%}, {% endif %}
    {%- endfor %}
{%- endif %}
