<a class="i-button arrow button js-requires-selected-row disabled" data-toggle="dropdown">
    {%- trans %}Extended Export{% endtrans -%}
</a>
<ul class="i-dropdown">
    <li>
        <a href="#"
           class="icon-file-spreadsheet js-requires-selected-row disabled js-submit-list-form"
           data-href="{{ url_for('plugin_jacow.abstracts_csv_export_custom', event) }}">
            CSV
        </a>
    </li>
    <li>
        <a href="#"
           class="icon-file-excel js-requires-selected-row disabled js-submit-list-form"
           data-href="{{ url_for('plugin_jacow.abstracts_xlsx_export_custom', event) }}">
            XLSX (Excel)
        </a>
    </li>
</ul>
